*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #f3f3ff;
    min-height: 100vh;

}
.container{
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
header h1{
    font-size:32px ;
    color: #6246ea;
    margin-bottom: 5px;
}
header p{
     color: #777;
     font-size: 14px;
}
#darkModeBtn{
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: none;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 10px #ddd;
    cursor: pointer;
}
.task-box{
background: white;
padding: 25px;
margin-bottom: 15px;
border-radius: 15px;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
.task-box h2{
    font-size: 20px;
    margin-bottom: 18px;
}
#taskForm {
    display: flex;
    gap: 10px;
}
#taskInput{
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    width: 600px;
}
#taskInput:focus{
    border-color: #6246ea;
}
#addBtn{
    padding: 14px 20px;
    border: none;
    color: white;
    background: #6246ea;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    
}
#addBtn:hover{
    background: #5134d4;
}

#taskList{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
 
}
#taskList li{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    padding: 15px;
    background: white;
    list-style: none;
    box-shadow: 0 3px 10px #ddd;
}
#taskList li span{
    flex: 1;
}
#taskList li button{
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.editBtn{
    background: #6246ea;
}
.completeBtn{
    background: #22c55e;
}
.deleteBtn{
    background: #ef4444;
}
.done {
    text-decoration: line-through;
    color: #888;
}
footer{
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-top: 30px;
}
body.dark-mode{
    background: #222;
    color: white;
}
body.dark-mode .task-box,
body.dark-mode #taskList li {
    background: #333;
    box-shadow: none;
}
body.dark-mode #taskInput {
    background: #444;
    color: white;
    border-color: #555;
}
body.dark-mode #darkModeBtn {
    background: #444;
    color: white;
}
